/*
Theme Name: Soft Group
Theme URI: #
Description: diplom work
Author: Gulko Andrey
Author URI: #
Version: 1.0
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
.body{
	font-family: 'Montserrat', sans-serif;
}
h3{
	font-size:25px;
}
h5 a{
	color:#72D5CD;
	padding-bottom:35px;
}
.outside{
	padding-bottom:25px;
}
.container-fluid{
	padding-left:0px;
	padding-right:0px;
}
.contacts{
	line-height:1.7;
	font-size:12px;
	color:#bababa;
	vertical-align: baseline;
	padding:11px 0px;
	
}
.top-social-wrapper {
    
    float: left;
}
.social-icon {
	color:#bababa;
    float: left;
    margin-left: 12px;
    max-width: 15px;
}
.line{
	border-top:1px solid #e9e9e9;
}
.menus{
	padding:45px 0px;
}
.main-menu{
	list-style:none;
	float:left;
	
}
.main-menu li{
	list-style-type: disc;
	float:left;
	font-size:14px;
	margin: 0 15px;
	/*line-height:1;*/
}
.main-menu li:first-child{
	list-style-type: none;
}
.main-menu li a{
	color: #5F5F5F;
}
.main-menu li a:hover{
	text-decoration:none;
	color: #000;
}
.img-center img{
		
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom:25px;
}
.forpost{
	padding:35px 0px;
}
.readmore_block{
	padding:45px 0px;
	background-color:#F5F5F5;
}
.cr{
	padding:45px 0px;
	
}
.cl{
	float:left;
}
.content-right{
	text-align:right;
	
}
.search_sector{
	text-align:center;
	background: url('../img/search-bg.jpg') center center no-repeat;
	background-size: cover;
	/*background-image: url('../img/search-bg.jpg');*/
	padding-top: 130px;
	padding-bottom: 90px;
	color:#fff;
	
}
.itemdivider{
	margin-top: 25px;
	font-size: 14px;
	letter-spacing: 1px;
}
.wss{
	padding:45px 0px;
	background-color:#F5F5F5;
	
}
.bigl{
	font-size:55px;
}
.twitter{
	background-color:#72D5CD;
	color:#fff;
}
.twitter a{
	text-decoration:none;
	color:#fff;
}
.about{
	padding:25px 0px;
	color:#fff;
	background-color:#262626;
}
.footer{
	border-top:1px solid #3F3F3F;
	padding:15px 0px;
	color:#3F3F3F;
	background-color:#0F0F0F;
	
}
.marg{
	padding-left:0px;
	padding-right:0px;
}
.myvideo {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	border:1px solid #ccc;
}
.myvideo iframe,.myvideo object,.myvideo embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.post_decor{
	background-color:#F5F5F5;
	padding:15px 10px;
	border-bottom:2px solid #72D5CD;
}
.left-part-post{
	float:left;
	
}
.right-part-post{
	margin-left:160px;
}
.right-part-post a{
	color:#6B6B6B;
	font-size:16px;
}
.right-part-post a:hover{
	color:#72D5CD;
	text-decoration:none
}
.toblog {
	font-size:16px;
}
.toblog a {
	color:#72D5CD;
	text-decoration:none;
}
.toblog a:hover {
	text-decoration:none;
}

.datepost{
	padding-top:10px;
	color:#ccc;
	
}
.img-circle{
	width: 150px;
	max-width: 100%;
	overflow: hidden;
	margin: 0px auto 20px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.left-p{
	float:left;	
}
.right-p{
	margin-left:65px;
	color:#C8C8C8;
}
.right-p h3{
	line-height:1.3;
	font-size:17px;
}

.bg_page_instr{
	padding-left:0px;
	padding-right:0px;
	text-align:center;
	background: url('../img/page_title_bg.jpg') center center no-repeat;
	background-size: cover;
	/*background-image: url('../img/search-bg.jpg');*/
	padding-top: 130px;
	padding-bottom: 90px;
	color:#fff;
	
}
.clever-overlay{
	position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: #000;
    opacity: 0.70;
    filter: alpha(opacity=70);
}
.nopage{
	padding-top: 130px;
	padding-bottom: 90px;
	
}
.bg-col{
	background-color:#D65938;
}

	
