/*
Theme Name: Soft Group
Theme URI: #
Description: diplom work
Author: Gulko Andrey
Author URI: #
Version: 1.0
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
.body{
	font-family: 'Montserrat', sans-serif;
}
h3{
	font-size:25px;
}
.contacts{
	line-height:1.7;
	font-size:12px;
	color:#bababa;
	vertical-align: baseline;
	padding:11px 0px;
	
}
.top-social-wrapper {
    
    float: left;
}
.social-icon {
	color:#bababa;
    float: left;
    margin-left: 12px;
    max-width: 15px;
}
.line{
	border-top:1px solid #e9e9e9;
}
.menu{
	padding:45px 0px;
}
.main-menu{
	list-style:none;
	float:left;
	
}
.main-menu li{
	float:left;
	font-size:14px;
	margin: 0 15px;
	/*line-height:1;*/
}
.main-menu li a{
	color: #555555;
}
.main-menu li a:hover{
	text-decoration:none;
	color: #000;
}
.img-center img{
		
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom:25px;
}
.forpost{
	padding:35px 0px;
}
.readmore_block{
	padding:45px 0px;
	background-color:#F5F5F5;
}
.cr{
	padding:45px 0px;
	
}
.cl{
	float:left;
}
.content-right{
	text-align:right;
	
}
.search_sector{
	text-align:center;
	background-image: url('../img/search-bg.jpg');
	padding-top: 130px;
	padding-bottom: 90px;
	color:#fff;
}
.itemdivider{
	margin-top: 25px;
	font-size: 14px;
	letter-spacing: 1px;
}
.wss{
	padding:45px 0px;
	background-color:#F5F5F5;
	
}
.bigl{
	font-size:55px;
}
.twitter{
	background-color:#72D5CD;
	color:#fff;
}
.twitter a{
	text-decoration:none;
	color:#fff;
}
.about{
	padding:25px 0px;
	color:#fff;
	background-color:#262626;
}
.footer{
	border-top:1px solid #3F3F3F;
	padding:15px 0px;
	color:#3F3F3F;
	background-color:#0F0F0F;
	
}


